<section class="comments">
  <%= partial 'partials/order_by_comments' %>
  <div class="comment-thread">
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <button class="comment__reply muted-link" data-toggle="comment1-reply">
          Responder</button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
      <div class="add-comment add-comment--reply" id="comment1-reply"
           data-toggler=".is-active">
        <form>
          <label class="show-for-sr" for="add-comment-1">Resposta</label>
          <textarea id="add-comment-1"
            placeholder="Respon a aquest comentari"></textarea>
          <input type="submit" class="button small hollow" value="Enviar">
        </form>
      </div>
    </article>
  </div>

  <h6 class="comment-thread__title">
    Conversación con <a href="">Ajuntament de Barcelona</a></h6>
  <div class="comment-thread">
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <button class="comment__reply muted-link">
          Responder
        </button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
    </article>
    <article class="comment comment--highlight">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <button class="comment__reply muted-link">
          Responder
        </button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
    </article>
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <button class="comment__reply muted-link">
          Responder
        </button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
        <article class="comment comment--nested">
        <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar author__avatar--small">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Ajuntament de Barcelona
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
        <div class="comment__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        </div>
        <div class="comment__footer">
          <button class="comment__reply muted-link">
            Responder
          </button>
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
      </article>
      <article class="comment comment--nested">
        <div class="comment__header">
          <div class="author-data">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar author__avatar--small">
                  <img src="/images/demo-avatar.jpg" alt="">
                </a>
                <a href="#" class="author__name">
                  Ajuntament de Barcelona
                </a>
                <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
              </div>
            </div>
            <div class="author-data__extra">
              <%= partial 'partials/flag_empty' %>
            </div>
          </div>
        </div>
        <div class="comment__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        </div>
        <div class="comment__footer">
        <button class="comment__reply muted-link">
          Responder
        </button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
        <article class="comment comment--nested comment--nested--alt">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar author__avatar--small">
                    <img src="/images/demo-avatar.jpg" alt="">
                  </a>
                  <a href="#" class="author__name">
                    Ajuntament de Barcelona
                  </a>
                  <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                </div>
              </div>
              <div class="author-data__extra">
                <%= partial 'partials/flag_empty' %>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
          </div>
          <div class="comment__footer">
            <button class="comment__reply muted-link">
              Responder
            </button>
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <span class="fa fa-chevron-up"></span>
                257
              </a>
              <a href="" class="comment__votes--down">
                <span class="fa fa-chevron-down"></span>
                257
              </a>
            </div>
          </div>
        </article>
      </article>
    </article>
  </div>
  <div class="show-more show-more--comment-thread">
    <button class="muted-link">Leer toda la conversación
      <span class="fa fa-plus-square-o"></span>
    </button>
  </div>
  <div class="add-comment">
    <h5>Deixa el teu comentari</h5>
    <form>
      <label class="show-for-sr" for="add-comment">Comentari</label>
      <textarea id="add-comment" rows="4"
        placeholder="Què opines d'aquesta proposta?"></textarea>
      <input type="submit" class="button hollow" value="Enviar">
    </form>
  </div>
</section>