<section class="comments">
  <%= partial 'partials/order_by_comments' %>
  <div class="comment-thread">
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Marc Serres
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>
          <span class="success label">A favor</span>
          Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
      </div>
      <div class="comment__footer">
        <button class="comment__reply muted-link" data-toggle="comment1-reply">
          Responder</button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
      <div class="add-comment add-comment--reply" id="comment1-reply"
           data-toggler=".is-active">
        <form>
          <label class="show-for-sr" for="add-comment-1">Resposta</label>
          <textarea id="add-comment-1"
            placeholder="Respon a aquest comentari"></textarea>
          <input type="submit" class="button small hollow" value="Enviar">
        </form>
      </div>
    </article>
  </div>

  <h6 class="comment-thread__title">
    Conversación con <a href="">Maria Garcia</a></h6>
  <div class="comment-thread">
    <article class="comment">
      <div class="comment__header">
        <div class="author-data">
          <div class="author-data__main">
            <div class="author author--inline">
              <a href="#" class="author__avatar">
                <img src="/images/demo-avatar.jpg" alt="">
              </a>
              <a href="#" class="author__name">
                Maria Garcia
              </a>
              <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
            </div>
          </div>
          <div class="author-data__extra">
            <%= partial 'partials/flag_empty' %>
          </div>
        </div>
      </div>
      <div class="comment__content">
        <p>
          <span class="alert label">En contra</span>
          Treure l'àrea per a gossos de la platja de llevant i posar-la a una
          platja més centrica amb millor comunicació amb el transport públic i
          amb més espai.</p>
      </div>
      <div class="comment__footer">
        <button class="comment__reply muted-link">
          Responder
        </button>
        <div class="comment__votes">
          <a href="" class="comment__votes--up">
            <span class="fa fa-chevron-up"></span>
            257
          </a>
          <a href="" class="comment__votes--down">
            <span class="fa fa-chevron-down"></span>
            257
          </a>
        </div>
      </div>
      <article class="comment comment--highlight comment--nested">
        <div class="comment__header">
          <div class="author-data">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar">
                  <img src="/images/demo-avatar.jpg" alt="">
                </a>
                <a href="#" class="author__name">
                  Ajuntament de Barcelona
                </a>
                <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
              </div>
            </div>
            <div class="author-data__extra">
              <%= partial 'partials/flag_empty' %>
            </div>
          </div>
        </div>
        <div class="comment__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha
            veïns en tota la ciutat més perjudicats que nosaltres, els que vivim
            al Pg de la Vall d'Hebron des del 198 al 208. Per no parlar de la
            contaminació atmosfèrica, els tubs d'escapament dels vehicles
            gairabé s'evacuarien directament al nostre menjador si no fos que
            mantenim les finestres i terrasses tencades de manera permanent.</p>
        </div>
        <div class="comment__footer">
          <button class="comment__reply muted-link">
            Responder
          </button>
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
      </article>
      <article class="comment comment--nested">
        <div class="comment__header">
          <div class="author-data">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar">
                  <img src="/images/demo-avatar.jpg" alt="">
                </a>
                <a href="#" class="author__name">
                  Joan Pèrez
                </a>
                <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
              </div>
            </div>
            <div class="author-data__extra">
              <%= partial 'partials/flag_empty' %>
            </div>
          </div>
        </div>
        <div class="comment__content">
          <p>Al meu entendre, en l'actualitat es requereix un ús provisional per
            al solar d'Avinguda Piferrer (Gràcia). Per aquest motiu, considero
            que provisionalment es podria oferir l'espai als memebres del Banc
            Expropiat. Hem d'aturar aquest conflicte. L'institut Vallcarca es
            absolutament necessàri, pero aquesta resposta immediata podria tenir
            un fort impacte en la pau social del barri, sense representar una
            demóra sustancial en la construcció de l'institut.</p>
        </div>
        <div class="comment__footer">
          <button class="comment__reply muted-link">
            Responder
          </button>
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
        <article class="comment comment--nested comment--nested--alt">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar">
                    <img src="/images/demo-avatar.jpg" alt="">
                  </a>
                  <a href="#" class="author__name">
                    Maria Garcia
                  </a>
                  <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                </div>
              </div>
              <div class="author-data__extra">
                <%= partial 'partials/flag_empty' %>
              </div>
            </div>
        </div>
        <div class="comment__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        </div>
        <div class="comment__footer">
          <button class="comment__reply muted-link">
            Responder
          </button>
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
      </article>
      <article class="comment comment--nested comment--nested--alt">
        <div class="comment__header">
          <div class="author-data">
            <div class="author-data__main">
              <div class="author author--inline">
                <a href="#" class="author__avatar">
                  <img src="/images/demo-avatar.jpg" alt="">
                </a>
                <a href="#" class="author__name">
                  Judith Asensi
                </a>
                <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
              </div>
            </div>
            <div class="author-data__extra">
              <%= partial 'partials/flag_empty' %>
            </div>
          </div>
        </div>
        <div class="comment__content">
          <p>Quan sento parlar de contaminació acústica, penso que no hi ha veïns
          en tota la ciutat més perjudicats que nosaltres, els que vivim al Pg
          de la Vall d'Hebron des del 198 al 208. Per no parlar de la
          contaminació atmosfèrica, els tubs d'escapament dels vehicles gairabé
          s'evacuarien directament al nostre menjador si no fos que mantenim les
          finestres i terrasses tencades de manera permanent.</p>
        </div>
        <div class="comment__footer">
          <button class="comment__reply muted-link">
            Responder
          </button>
          <div class="comment__votes">
            <a href="" class="comment__votes--up">
              <span class="fa fa-chevron-up"></span>
              257
            </a>
            <a href="" class="comment__votes--down">
              <span class="fa fa-chevron-down"></span>
              257
            </a>
          </div>
        </div>
        <article class="comment comment--nested">
          <div class="comment__header">
            <div class="author-data">
              <div class="author-data__main">
                <div class="author author--inline">
                  <a href="#" class="author__avatar">
                    <img src="/images/demo-avatar.jpg" alt="">
                  </a>
                  <a href="#" class="author__name">
                    Maria Garcia
                  </a>
                  <time datetime="2016-08-01T19:47Z">1-08-2016 21:47</time>
                </div>
              </div>
              <div class="author-data__extra">
                <%= partial 'partials/flag_empty' %>
              </div>
            </div>
          </div>
          <div class="comment__content">
            <p>Quan sento parlar de contaminació acústica, penso que no hi ha
              veïns tota la ciutat més perjudicats que nosaltres, els que vivim
              al Pg la Vall d'Hebron des del 198 al 208. Per no parlar de la
              contaminació atmosfèrica, els tubs d'escapament dels vehicles
              gairabé s'evacuarien directament al nostre menjador si no fos que
              mantenim les finestres i terrasses tencades de manera permanent.</p>
          </div>
          <div class="comment__footer">
            <button class="comment__reply muted-link">
              Responder
            </button>
            <div class="comment__votes">
              <a href="" class="comment__votes--up">
                <span class="fa fa-chevron-up"></span>
                257
              </a>
              <a href="" class="comment__votes--down">
                <span class="fa fa-chevron-down"></span>
                257
              </a>
            </div>
          </div>
        </article>
      </article>
    </article>
    </article>
  </div>
  <div class="show-more show-more--comment-thread">
    <button class="muted-link">Ver 16 comentarios más
      <span class="fa fa-plus-circle"></span>
    </button>
  </div>
  <div class="add-comment">
    <h5 class="section-heading">Deixa el teu comentari</h5>
    <div class="opinion-toggle button-group">

      <!--Add is-active class to the button to show the selected option-->
      <button class="button small button--muted opinion-toggle--ok">
        <svg class="icon icon--before">
          <use xlink:href="#icon-thumb-up" />
        </svg>
        Estic a favor
      </button>
      <button class="button small button--muted opinion-toggle--ko">
        <svg class="icon icon--before">
          <use xlink:href="#icon-thumb-down" />
        </svg>
        Estic en contra
      </button>

    </div>
    <form>
      <label class="show-for-sr" for="add-comment">Comentari</label>
      <textarea id="add-comment" rows="4"
        placeholder="Què opines d'aquesta proposta?"></textarea>
      <input type="submit" class="button button--sc" value="Enviar">
    </form>
  </div>
</section>