---
title: Propuesta -- Decidim Barcelona
activepage : meetings
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row collapse">
    <div class="main-container">
      <%= partial 'partials/process_nav' %>
      <div class="main-container__content">
        <div class="row">
          <div class="columns medium-8">
            <div class="view-header">
              <h2 class="view-title">Cooperatives i economia solidària</h2>
              <div class="author-data">
                <div class="author-data__main">
                  <div class="author author--inline">
                    <a href="#" class="author__avatar author__avatar--small">
                      <img src="/images/demo-avatar.jpg" alt="">
                    </a>
                    1 de agosto de 2016 por
                    <a href="#" class="author__name">
                      Ajuntament de Barcelona
                    </a>
                  </div>
                </div>
                <div class="author-data__extra">
                  <a href="#comments" title="Comentarios">
                    <span class="fa fa-comments-o"></span> 108
                  </a>
                  <%= partial 'partials/flag' %>
                </div>
              </div>
            </div>
            <div class="section">
              <p>
                La particularitat de la sessió (duta a terme fora del termini
                del PAM), va fer que l'objectiu i debat de propostes es formulés
                diferent. Es va plantejar una sessió enfocada, no tant a
                conèixer-se i establir vincles entre cooperatives del Districte
                (que ja actualment es du a terme), sinó més aviat a millorar la
                relació de les cooperatives i l'Ajuntament/Districte i a fer
                possible un treball conjunt a través de vincles i sinèrgies
                entre ambdúes parts.
              </p>
              <ul class="tags">
                <li><a href="">transició ecológica</a></li>
                <li><a href="">mobilitat sostenible</a></li>
                <li><a href="">barri de Sarrià</a></li>
              </ul>
            </div>
            <div class="section">
              <%= partial 'partials/related_proposals' %>
            </div>
          </div>
          <div class="columns medium-4 large-3 section">
            <%= partial 'partials/share' %>
          </div>
        </div>
        <div class="row">
          <div class="section columns medium-8" id="comments">
              <%= partial 'partials/comments' %>
          </div>
        </div>
      </div>
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>

