---
title: Proceso -- Decidim Barcelona
activesection: processes
activephase: phase1
activepage : meetings
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row collapse">
    <div class="main-container">
      <%= partial 'partials/meetings_map' %>
      <div class="row collapse filters-wrapper">
        <div class="columns medium-4 large-3">
          <%= partial 'partials/filters' %>
        </div>
        <div class="columns medium-8 large-9">
          <div class="main-container__content">
            <%= partial 'partials/order_by' %>
            <div class="row">
              <div class="columns large-6">
                <div class="card card--meeting">
                  <div class="card__content">
                    <div class="card__datetime">
                      <div class="card__datetime__date">
                        20 <span class="card__datetime__month">Ago</span>
                      </div>
                      <div class="card__datetime__time">
                        16:00 - 18:00
                      </div>
                    </div>
                    <a href="/meeting-view" class="card__link">
                      <h5>Cooperatives i economia solidària</h5>
                    </a>
                    <p class="card__desc">
                      Recollir, en sessió oberta al carrer, propostes per millorar
                      la convivència i l´ús de l´espai públic al barri.
                    </p>
                    <div class="address">
                      <div class="address__icon">
                        <svg width="40" height="70">
                          <use xlink:href="#shape-icon-meetings" />
                        </svg>
                      </div>
                      <div class="address__details">
                        <strong>Seu del Districte Sants-Montjuïc</strong><br>
                        <span>Carrer de la Creu Coberta, 104</span><br>
                        <span>Barcelona</span>
                      </div>
                    </div>
                    <ul class="tags tags--meeting">
                      <li><a href="">transició ecológica</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card card--meeting">
                  <div class="card__content">
                    <div class="card__datetime">
                      <div class="card__datetime__date">
                        20 <span class="card__datetime__month">Ago</span>
                      </div>
                      <div class="card__datetime__time">
                        16:00 - 18:00
                      </div>
                    </div>
                    <a href="/meeting-view" class="card__link">
                      <h5>Foment valors naturals i preservació espais verds de la
                      ciutat: Collserola</h5>
                    </a>
                    <p class="card__desc">
                      Mesures i accions a emprendre per preservar pressió ús
                      Collserola. Generar espai de debat i de construcció de
                      propostes per a valorar i preservar la serralada de Collserola.
                      Reflexionar sobre els límits de la pressió humana a la serra.
                    </p>
                    <div class="address">
                      <div class="address__icon">
                        <svg width="40" height="70">
                          <use xlink:href="#shape-icon-meetings" />
                        </svg>
                      </div>
                      <div class="address__details">
                        <strong>Seu del Districte Sants-Montjuïc</strong><br>
                        <span>Carrer de la Creu Coberta, 104</span><br>
                        <span>Barcelona</span>
                      </div>
                    </div>
                    <ul class="tags tags--meeting">
                      <li><a href="">transició ecológica</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>

