---
title: Proceso -- Decidim Barcelona
activepage : proposals
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row collapse">
    <div class="main-container">
      <%= partial 'partials/process_nav' %>
      <div class="row collapse filters-wrapper">
        <div class="columns medium-4 large-3">
          <%= partial 'partials/filters' %>
        </div>
        <div class="columns medium-8 large-9">
          <div class="main-container__content">
            <%= partial 'partials/order_by' %>
            <div class="row">
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <a href="/proposal-view" class="card__link">
                      <h5>
                        Creació d'aules ambientals al Parc del Clot
                      </h5>
                    </a>
                    <p class="card__desc">
                      <span class="success label proposal-status 
                                   proposal-status--small">
                        Acceptada
                      </span>
                      Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer card__footer--data">
                    <div class="card__content author">
                      <div class="author__avatar">
                        <img src="/images/demo-avatar.jpg" alt="">
                      </div>
                      <div class="author__name">
                        Consell de Barri de Gràcia
                        <span class="author__date">1 agosto 2016</span>
                      </div>
                    </div>
                    <ul class="card-data">
                        <li class="card-data__item">
                          <span class="card-data__item__number">27</span>suports
                        </li>
                        <li class="card-data__item">
                          <span class="card-data__item__number">2567</span>
                          comentaris
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <a href="/proposal-view" class="card__link">
                        <h5>Terrazas para no fumadores</h5>
                    </a>
                    <p class="card__desc">
                      <span class="warning label proposal-status
                                   proposal-status--small">
                          Rebutjada
                        </span>
                      Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer card__footer--data">
                    <div class="card__content author">
                      <div class="author__avatar">
                        <img src="/images/demo-avatar.jpg" alt="">
                      </div>
                      <div class="author__name">
                        Consell de Barri de Gràcia
                        <span class="author__date">1 agosto 2016</span>
                      </div>
                    </div>
                    <ul class="card-data">
                        <li class="card-data__item">
                          <span class="card-data__item__number">27</span>suports
                        </li>
                        <li class="card-data__item">
                          <span class="card-data__item__number">2567</span>
                          comentaris
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <a href="/proposal-view" class="card__link">
                      <h5>Augmentar les beques menjador</h5>
                    </a>
                    <p class="card__desc">Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer card__footer--data">
                    <div class="card__content author">
                      <div class="author__avatar">
                        <img src="/images/demo-avatar.jpg" alt="">
                      </div>
                      <div class="author__name">
                        Consell de Barri de Gràcia
                        <span class="author__date">1 agosto 2016</span>
                      </div>
                    </div>
                    <ul class="card-data">
                        <li class="card-data__item">
                          <span class="card-data__item__number">27</span>suports
                        </li>
                        <li class="card-data__item">
                          <span class="card-data__item__number">2567</span>
                          comentaris
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="columns large-6">
                <div class="card card--proposal">
                  <div class="card__content">
                    <a href="/proposal-view" class="card__link">
                      <h5>Controlar i difondre l'índex de contaminació
                        atmosfèrica</h5>
                    </a>
                    <p class="card__desc">Implementar la instal·lació d’àrees
                      estratègiques de càrrega i descàrrega per garantir uns
                       fluxos de mobilitat sostenibles i respectuosos.</p>
                    <ul class="tags">
                      <li><a href="">transició ecológica</a></li>
                      <li><a href="">mobilitat sostenible</a></li>
                      <li><a href="">barri de Sarrià</a></li>
                    </ul>
                  </div>
                  <div class="card__footer card__footer--data">
                    <div class="card__content author">
                      <div class="author__avatar">
                        <img src="/images/demo-avatar.jpg" alt="">
                      </div>
                      <div class="author__name">
                        Consell de Barri de Gràcia
                        <span class="author__date">1 agosto 2016</span>
                      </div>
                    </div>
                    <ul class="card-data">
                        <li class="card-data__item">
                          <span class="card-data__item__number">27</span>suports
                        </li>
                        <li class="card-data__item">
                          <span class="card-data__item__number">2567</span>comentaris
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</main>

<%= partial 'partials/template_bottom' %>

