---
title: Proceso -- Decidim Barcelona
activesection: processes
activepage : proposals2
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <%= partial 'partials/process_header' %>
  <div class="row column">
    <div class="card budget-summary">
      <div class="card__content">
        <h3 class="heading3">Tú decides los presupuestos</h3>
        <p>
          ¿En qué proyectos crees que debería trabajar el Ayuntamiento el próximo año?
          <br>Asigna como mínimo 75 millones a los proyectos que quieras y vota con
           tus preferencias cómo serán los próximos presupuestos.
        </p>
        <div class="budget-summary__total">
          <span class="mini-title">Presupuesto total:
            <strong class="mini-title__strong mini-title__strong--highlight">
              100.000.000€
            </strong>
          </span>
        </div>
        <div class="budget-summary__progressbox">
          <!--Change de aria-valuenow and aria-valuetext dynamically. Set a minimum in aria-valuenmin.-->
          <div class="progress budget-progress" role="progressbar" tabindex="0" aria-valuenow="30" aria-valuemin="75" aria-valuetext="30%" aria-valuemax="100">
            <!-- Set minimum in the style="width:"-->
            <div class="progress-meter progress-meter--minimum" style="width: 75%"></div>
            <!--Change width and text dynamically.-->
            <div class="progress-meter budget-progress__meter" style="width: 30%">
              <p class="progress-meter-text progress-meter-text--right">30%</p>
            </div>
          </div>
          <button class="button small button--sc" disabled>Votar</button>
        </div>
        <div>
          <span class="mini-title">Asignado: <strong class="mini-title__strong">30.000.000€</strong></span>
        </div>
      </div>

      <div class="card__content budget-summary__selected">
        <strong>5</strong> proyectos seleccionados. <a data-toggle="reveal-selected">Ver seleccionados</a>
        <div id="reveal-selected" class="hide" data-toggler=".hide">
          [SELECCIONADOS]
        </div>
      </div>

    </div>
  </div>
  <div class="row columns">
    <h2 class="section-heading">168 proyectos</h2>
  </div>
  <div class="row">
    <div class="columns mediumlarge-4 large-3">
      <%= partial 'partials/filters_small_view' %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= partial 'partials/filters' %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-9">
      <%= partial 'partials/order_by' %>
      <div class="card card--list budget-list">
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Diagnòstic sobre l'existència i la necessitat de menjadors socials per a gent gran al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">22.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Diagnòstic sobre l'existència i la necessitat de menjadors
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data budget-list__data--added">
              <span class="card--list__data__number budget-list__number">30.000€</span>
              <a href="#" class="button tiny success budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
          <div class="card--list__item">
            <div class="card--list__text">
              <a href="#" class="card__link">
                <h5 class="card__title budget-list__title">
                  Menjadors socials per a gent gran al Districte
                </h5>
              </a>
            </div>
            <div class="card--list__data budget-list__data">
              <span class="card--list__data__number budget-list__number">150.000.000€</span>
              <a href="#" class="button tiny hollow budget--list__action">
                <%= icon("check", class: "icon--small", aria_label: "Afegir", role: "img") %>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>
